<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <system.web>
      <compilation debug="true" targetFramework="4.5.2" />
      <httpRuntime targetFramework="4.5.2" />
      <sessionState timeout="100" mode="InProc" cookieless="false"/>
    </system.web>
  <connectionStrings>
    <add name="SqlConnectionString" connectionString="Data Source=10.99.81.14;Initial Catalog=ONET_SUBJECTIVE;User ID=sa;Password=Af^gx]ujpo"/>
  </connectionStrings>
  <appSettings>
    <add key="AppName" value=""/>
  </appSettings>
</configuration>
